*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-color: rgb(77, 77, 77);
    color: white;
}

/* Banner for page as well as swap buttons */

.MainHeader {
    display:flex;
    height:5vh;
    border-bottom: 1px solid black;
    background-color:#DC0A2D;
    flex-wrap: none;
    align-items: center;
    justify-content: space-between;
}

.MainHeader a {
    height: 5vh;
    font-size: 2vh;
    line-height: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color:#29AAFD;
    color: white;
    text-decoration: none;
}

/* Banner refs to middle section specifically */
.Banner p{
    display: inline;
    float: left;

}

.MainHeader .Banner p {
    font-size: 3vh;
}

.MainHeader img {
    float: left;
    height:5vh;
    width:5vh;
}
/* mirrors img for pokeball */
#pokeballright {
    transform: scaleX(-1);
}


/* Randomizer button linked with JS for JSON info */
#Randomizer {
    background-color: tan;
    border-radius: 5px;
    border: none;
    margin-left: 30vw;
    width: 40vw;
    height: 3vh;
    margin-top: 5px;
    margin-bottom: 5px;
    color: blue;
    font-size: 2.5vh;
    cursor: pointer;
}



/* Card background as well set grid for things inside of it */
.Card {
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    height: 90vh;
    border-radius: 10px;
    padding: 1vw;
    display:grid;
    grid-template-columns: 5% 20% 20% 30% 10% 10% 5%;
    grid-template-rows: 10% 40% 16.66%;

}

#PokemonName {
    color: black;
    grid-column: 2;
    grid-row: 1;
}

#PokemonHP {
    grid-column:5;
    grid-row: 1;
}

#PokemonType {
    grid-column:6;
    grid-row: 1;
}

#PokemonSprite {
    grid-column: 1 / 7;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    height: 100%;
    padding-top: 5%;
}

#Move1 {
    grid-column: 1 / 7;
    grid-row: 3;
    text-align: center;
    padding-top: 5%;
}


#Move2 {
    grid-column: 1 / 7;
    grid-row: 4;
    text-align: center;
    padding-top: 5%;

}


#Move3 {
    grid-column: 1 / 7;
    grid-row: 5;
    text-align: center;
    padding-top: 5%;

}

/* unloaded card defaults */
.DefaultCard {
    background-color: slategray;
    border: 10px solid #FFE164;
}

/* Section below customized card by Pokemon types */
.NormalType{
background-color: #E2DCC0;
}

.FightingType{
background-color: #E9A770;
}

.FlyingType{
background-color: #D1C9C0;
}

.PoisonType {
background-color: #A46BAC;
}

.GroundType{
background-color: #D6D9CA;
}

.RockType{
background-color: #E09946;
}

.BugType{
background-color: #A6C55E;
}

.GhostType{
background-color: #AA62A2;
}

.SteelType{
background-color: #E6E6E6;
}

.FireType{
background-color: #D25531;
}

.WaterType{
background-color: #03B3DB;
}

.GrassType{
background-color: #A5D221;
}

.ElectricType{
background-color: #EBD829;
}

.PsychicType{
background-color: #A46DA8;
}

.IceType{
background-color: #A6DFEC;
}

.DragonType{
background-color: #5C5B32;
}

.DarkType{
background-color: #26302D;
}

.FairyType{
background-color: #DB3E96;
}

